<div class="about-container">
  <h1>About Us</h1>
      <h2>Welcome to Our Album Journey</h2>
      <p>Thank you for visiting our album website! Here, we invite you to embark on a visual and
        auditory journey through our creative exploration. Each photo encapsulates a moment,
        a feeling, or a story that we've poured our hearts and souls into.</p>
      <h3>Who we are?</h3>
      <p>We are a group of passionate artists, musicians, and storytellers who
        came together to create something truly special. Our backgrounds vary, but our
        love for music and art unites us in a shared vision.</p>

      <h3>Our Inspiration:</h3>
      <p>Inspiration is a curious force. It can strike like lightning or simmer quietly, waiting to be awakened.
        From the bustling city streets to the serene countryside, from the depths of our emotions to the
        heights of our imaginations, we draw inspiration from every corner of life.</p>

      <h3>Connect with Us:</h3>
      <p>Follow us on social media for updates, behind-the-scenes content, and more.
        Let's stay connected as we continue to create and share our art with the world.</p>
</div>
