
  .image-gallery img {
    width: 60%;
    height: auto;
    height: 150px;
    padding: 0 30px;
    text-align: center;
    justify-content:center;
  }
  .gg{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  .product{
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 1%;
    background-color: #fff;
    box-shadow:0 0 4px rgb(99, 179, 229);
    margin-left: 25px;
    margin-top: 10px;
    width:300px;
    text-align: center;
  }

  .image-gallery button {
    background-color: #fff;
    color: #212529;
    border: none;
    color:rgb(21, 0, 255);
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    width: 0.5px; 
    content:initial ;
    padding: 10px;
  }
  
  a {
    margin-right: 10px;
  }