<h2>Categories</h2>
<div class="conteiner">
  <ng-container *ngFor="let productCategory of productCategories">
      <ng-container *ngIf="isCategoryUnique(productCategory.name)">
        <div class="category">
          <h3>
            <a [title]="productCategory.name + 'list'" [routerLink]="['/products', productCategory.name]">
              {{ productCategory.name }}
              <p></p>
              <img src="{{productCategory.img}}" alt="">
            </a>
          </h3>
          <div *ngFor="let product of products">
            <div *ngIf="product.category === productCategory.name">
            </div>
          </div>
      </div>
      </ng-container>
  </ng-container>
</div>